{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About-->
<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Inventory Skis</h2>
        
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">
                    <a class='btn btn-primary btn-color' href="{% url 'addSki' %}">Add A New Ski</a>
                </th>
                  <th scope="col">Brand</th>
                  <th scope="col">Model</th>
                  <th scope="col">Width</th>
                  <th scope="col">Length</th>
                  <th scope="col">Type</th>
                </tr>
              </thead> 
              <tbody>
                {% for ski in skis %}
                <tr>
                    <td>
                    <a class='btn btn-primary btn-color' href="{% url 'editSki' ski_id=ski.id %}">Edit</a>
                    </td>
                    <td>{{ ski.brand }}</td>
                    <td>{{ski.model}}</td> 
                    <td>{{ski.waistwidth}}</td> 
                    <td>{{ski.length}}</td> 
                    <td>{{ski.type}}</td>
                    <td>
                    <a class='btn btn-primary btn-color' href="{% url 'deleteSki' ski_id=ski.id %}">Delete</a>
                    </td>
                </tr>
        {% endfor %}
              </tbody>
            </table>

        
    </div>
    {% comment %} <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/42096.jpg' %}" width="600" height="600" alt="" /></div>

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <a href="https://www.freepik.com/vectors/business">Business vector created by macrovector - www.freepik.com</a>
                    <h4 class="subheading">Traveling around the world!</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">Let us build a memory that you will always remember.</p></div>
            </div>
        </li>                    
    </ul>
</div> {% endcomment %}
{% endblock %}