{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead bg">
            <div class="container">
                
                <div class="timeline-panel">
                <div class="masthead-subheading">Welcome to Deez Skis!</div>
                <div class="custom-heading">We'll help you find the right equipment</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-color" href="{% url 'about' %}">Tell Me More</a>
            </div>
        </header>
{% endblock %}